*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  /* min-height: 100vh; */
  /* height: 100%; */
  /* overflow: hidden; */
  color: #FFF;
  background-color: #121519;
  font-family: 'Montserrat', 'Roboto', 'Droid Sans', 'Helvetica Neue', sans-serif;
}
.app {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 4rem 1fr 4rem;
      grid-template-rows: 4rem 1fr 4rem;
  -ms-grid-columns: 20% 1fr;
      grid-template-columns: 20% 1fr;
  height: 100vh;
}
.header,
.footer {
  font-size: .75rem;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #a0a0a0;
}
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: -1;
  padding: 0 2rem;
  border-bottom: 1px solid #2a2d30;
}
.header .header_left,
.header .header_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav {
  display: none;
  border-right: 1px solid #2a2d30;
  overflow-y: auto;
}
.nav .nav_menu .nav_item .nav_link {
  display: block;
  text-decoration: none;
  color: #FFF;
  font-weight: 200;
}
.nav .nav_menu .nav_item .nav_link .media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav .nav_menu .nav_item .nav_link .media .media_image {
  width: 60px;
  height: 60px;
  margin-right: 1rem;
  border-radius: 0.25rem;
  -o-object-position: center center;
     object-position: center center;
  -o-object-fit: cover;
     object-fit: cover;
}
.nav .nav_menu .nav_item .nav_link .media .media_content {
  font-size: 16px;
}
.main {
  padding: 2rem;
  overflow-y: auto;
  overflow-x: hidden;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: -1;
  -webkit-perspective: 1px;
          perspective: 1px;
}
.main .section {
  position: relative;
  min-height: calc(100vh - 4rem - 4rem);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  padding-top: 300px;
  margin-bottom: 250px;
}
.main .section .section_header {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  height: 500px;
  padding: 2rem;
  border-radius: 0.5rem;
  background-image: url('https://lonelyplanetimages.imgix.net/mastheads/stock-photo-st-stephens-church-112868985.jpg?sharp=10&w=2000');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}
.main .section .section_header .section_title {
  font-size: 3.5rem;
  font-weight: 200;
  margin-bottom: .5rem;
  line-height: 1;
}
.main .section .section_header .section_subtitle {
  font-size: 1.5rem;
}
.main .section .section_header .section_controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  padding: 0 2rem;
  top: 0;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.main .section .section_header .user {
  margin-left: auto;
  text-align: center;
  padding-top: 2rem;
}
.main .section .section_header .user .user_img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: .5rem;
  box-shadow: 0 0 38px rgba(0, 0, 0, 0.3);
}
.main .section .section_header .user .user_name {
  display: block;
  font-size: 1.5rem;
  font-weight: 200;
}
.main .section .section_content {
  position: relative;
  /* z-index: 1; */
  padding: 0;
}
.main .section .section_content .boxgrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(150px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-auto-rows: minmax(150px, auto);
  grid-gap: 2rem .5rem;
}
.main .section .section_content .boxgrid .boxgrid__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main .section .section_content .boxgrid .boxgrid__item--wide {
  -ms-grid-column: span 2;
      grid-column: span 2;
}
@media screen and (min-width: 1280px) {
  .main .section .section_content .boxgrid .boxgrid_item--push {
    -ms-grid-column: span 2;
        grid-column: span 2;
    padding-left: 50%;
  }
}
.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
  position: relative;
  padding: 2rem;
  border-radius: 0.5rem;
  font-size: .875rem;
  color: #FFF;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
  -webkit-filter: brightness(100%);
  filter: brightness(100%);
}
.box:hover,
.box:focus {
  -webkit-transform: scale(1.07);
  transform: scale(1.07);
  -webkit-filter: brightness(110%);
  filter: brightness(110%);
  z-index: 10;
}
.box--weather {
  background-color: #89CDCE;
}
.box--cost {
  background-color: #66AEE5;
}
.box--locations {
  background-color: #6C73DC;
}
.box--image,
.box--video {
  padding: 0;
}
.box--video::before,
.box--video::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.box--video::before {
  width: 50px;
  height: 50px;
  background-color: #FFF;
  border-radius: 50%;
  box-shadow: 0 0 38px rgba(0, 0, 0, 0.3);
}
.box--video::after {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 0 10px 15px;
  border-color: transparent transparent transparent #121519;
  margin-left: 2px;
}
.box__img {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  border-radius: 0.5rem;
}
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2rem;
  -ms-grid-row: 3;
      grid-row: 3;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: -1;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.footer p {
  margin-right: 1rem;
}
.footer p a {
  text-decoration: none;
  color: aliceblue;
}
.footer p.footer_more {
  margin-left: auto;
  margin-right: 0;
}
/* LARGE SCREEN */
@media screen and (min-width: 1024px) {
  .nav {
    display: block;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 2;
  }
  .main {
    -ms-grid-column: 2;
        grid-column-start: 2;
  }
  .main .section {
    margin-bottom: 750px;
  }
  .main .section .section_header {
    -webkit-transform: translateZ(-1px) scale(1.9);
            transform: translateZ(-1px) scale(1.9);
  }
}
@media screen and (max-width: 1023px) {
  .main .section_content {
    padding: 0 1rem;
  }
}
/* COMMON STYLE */
.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50px;
          flex: 0 0 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  border: 0;
  padding: 0;
  border: 1px solid transparent;
  border-radius: 50%;
  background-color: #FFF;
  margin: 0 .5rem;
}
.arrow {
  display: inline-block;
  padding: 3px;
  border-style: solid;
  border-width: 0 2px 2px 0;
}
.arrow-large {
  padding: 8px;
  border-width: 0 1px 1px 0;
}
.arrow-right {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.arrow-left {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}
.arrow-up {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}
.arrow-down {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
